* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #12001f;
  color: #fff;
}

/* NAVBAR */
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg,#1a062b,#12001f);
}

.navbar-container {
  width: 92%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 28px;
  font-weight: 800;
}

.navbar-logo span {
  color: #ff3bd4;
}

.navbar-menu {
  display: flex;
  gap: 40px;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
}

.navbar-btn {
  padding: 10px 22px;
  border-radius: 30px;
  background: linear-gradient(90deg,#ffcc33,#ff3bd4);
  color: #fff;
  text-decoration: none;
}

.navbar-hamburger {
  display: none;
  width: 28px;
}

